.form {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
@mixin base {
  height: 45px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
}
.input {
  @include base;
  width: 575px;
  padding: 15px;
  font-size: 24px;
  letter-spacing: 1px;
  &::placeholder {
    letter-spacing: normal;
    font-size: 22px;
    text-align: center;
    color: #808080;
  }
}

.btn {
  @include base;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: black;
    background-color: #A1A0A0;
  }
}