.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 112px 0 112px;
}

.image {
  position: absolute;
  max-height: 550px;
  width: auto;
  z-index: 0;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}